extends layout

block content

	.topstuff
		.quote= quote

		a(href="/gender"): img(src='/images/gender.png')
		a(href="/family"): img(src='/images/family.png')
		a(href="/education"): img(src='/images/education.png')
		a(href="/social"): img(src='/images/social.png')
		a(href="/self"): img(src='/images/image.png')

	.floatleft:  a(href = "/story") Add a story?

	hr
	h2= category

	
	if stories
		.stories
		for story in stories
			h2= story.title
			p= story.text