body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
	width: 400px;
	height: 400px;
}

#tabs {
	text-align: center;
	padding-top: 70px;
}

.header {
	width: 100%;
}

.topstuff {
	text-align: center;
}

.floatleft {
	float: left;
}

.menu {
	padding: 30px;
}

.stories {
	margin-top: 50px;
}

.quote { 
	padding-top: 20px;
	color: #77369E;
	text-align: center;
	font-family: 'Snell Roundhand';
	font-size: 40pt;
}